.login_card {
  background-color: #2c364c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  color: white;
}
.main_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.input_bar {
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

.login_btn {
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  color: white;
  background-color: #4f46e5;
}
